version: "3.9"

services:
  web:
    build: .
    command: gunicorn core.asgi:application -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis
      - db

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: streamit
      POSTGRES_USER: streamit
      POSTGRES_PASSWORD: streamit
    ports:
      - "5432:5432"
